/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  text-align: center;
  color: var(--color_4);
  padding: 25px 0;
  background: var(--background-color_3);
  .copyright {
    margin-bottom: 0.3rem;
  }
  .credits {
    margin-bottom: 0;
    a {
      color: var(--color_4);
    }
  }
}
